body{
    display: flex;
    justify-content: center;
}
#form_div{
    width: 100vh;
    height: 99vh;
display:flex;
position: relative;
justify-content: center;
align-items: center;
text-align: center;
}
#form{
    transform: scale(1.7);
}
p{
    color: red;
    font-size: 10px;
}
input{
    margin-top: 5px;
}