#container{
    position: relative;
    left:300px;
    color:rgb(12, 12, 12);
    border: 2px solid blue;
    border-radius: 30px;
    width:auto;
    text-align: center;
    box-shadow: 3px 3px 5px blue;
    transition: all 0.1s;
    transform: scale(1.2);
}
#container:hover{
    cursor: default;
    transform: scale(1.3);
}