body{
    background-image: url(assets/sky.jpg);
    background-color: red;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: baseline;
}
#input_field{
    position:absolute;
    top:40px;
left:570px;
    margin-top:20px;
    transform: scale(1.5);
    border-radius: 10px;
}
#submit_btn{
    position: absolute;
    margin-left: 15px;
    color: red;
    background-image: url(assets/search.png);
    background-size:cover;
    background-position: center;
    border: none;
    height:30px;
 border-radius: 50px;
 transition: 0.1s ;
}
#result_div{
    position: relative;
    border: 2px solid rgb(30, 27, 218);
transform: scale(1.4);
border-radius: 20px;
text-shadow: 1px 1px 5px black;
    cursor: default;
    top:100px;
align-items: center;
text-align: center;
box-shadow: 3px 3px 10px rgb(80, 43, 247);
transition: 0.1s;
}
#input{
    position: relative;
left:10px;
}
#submit_btn:hover{
    transform: scale(0.9);
}
#result_div:hover{
   box-shadow: inset 2px 2px 5px white;
}

